Control.DAL/bin/
Control.DAL/obj/
Control.Model/bin/
Control.Model/obj/
Control.UI.Tests/bin/
Control.UI.Tests/obj/
Control.UI/bin/
Control.UI/obj/
Control.Utility/Security.cs
.vs/Control.UI/v14/.suo
.vs/config/applicationhost.config
Control.UI/Control.UI.csproj.user
Control.Utility/bin/
Control.Utility/obj/
Control.Security/bin/
Control.Security/obj/
Control.DAL/Migrations/201604290251475_Initial.Designer.cs
Control.DAL/Migrations/201604290251475_Initial.cs
Control.DAL/Migrations/201604290251475_Initial.resx
Control.DAL/Migrations/201604290257408_publish.Designer.cs
Control.DAL/Migrations/201604290257408_publish.cs
Control.DAL/Migrations/201604290257408_publish.resx
Control.UI/Views/Cadastro/FornecedoresEdit.cshtml
