Control.DAL/bin/
Control.DAL/obj/
Control.Model/bin/
Control.Model/obj/
Control.UI.Tests/bin/
Control.UI.Tests/obj/
Control.UI/bin/
Control.UI/obj/
Control.Utility/Security.cs
.vs/Control.UI/v14/.suo
.vs/config/applicationhost.config
Control.UI/Control.UI.csproj.user
Control.Utility/bin/
Control.Utility/obj/
Control.Security/bin/
Control.Security/obj/
Control.DAL/Migrations/201604290251475_Initial.Designer.cs
Control.DAL/Migrations/201604290251475_Initial.cs
Control.DAL/Migrations/201604290251475_Initial.resx
Control.DAL/Migrations/201604290257408_publish.Designer.cs
Control.DAL/Migrations/201604290257408_publish.cs
Control.DAL/Migrations/201604290257408_publish.resx
Control.UI/Control.UI.csproj.orig
Control.UI/Web.config.orig
packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
packages/JQuery.MoneyMask.1.0.3.1/JQuery.MoneyMask.1.0.3.1.nupkg
packages/JQuery.MoneyMask.1.0.3.1/content/App_Start/MoneyMaskBundleConfig.cs.pp
packages/JQuery.MoneyMask.1.0.3.1/content/Scripts/jquery.moneymask.js
packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/pt-br/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.pt-br.5.2.3/Microsoft.AspNet.Mvc.pt-br.5.2.3.nupkg
packages/Microsoft.AspNet.Mvc.pt-br.5.2.3/lib/net45/pt-br/System.Web.Mvc.xml
packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
packages/Microsoft.jQuery.Unobtrusive.Ajax.3.2.3/Content/Scripts/jquery.unobtrusive-ajax.js
packages/Microsoft.jQuery.Unobtrusive.Ajax.3.2.3/Content/Scripts/jquery.unobtrusive-ajax.min.js
packages/Microsoft.jQuery.Unobtrusive.Ajax.3.2.3/Microsoft.jQuery.Unobtrusive.Ajax.3.2.3.nupkg
packages/Microsoft.jQuery.Unobtrusive.Validation.3.1.0/Content/Scripts/jquery.validate.unobtrusive.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.1.0/Content/Scripts/jquery.validate.unobtrusive.min.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.1.0/Microsoft.jQuery.Unobtrusive.Validation.3.1.0.nupkg
packages/Newtonsoft.Json.5.0.4/Newtonsoft.Json.5.0.4.nupkg
packages/Newtonsoft.Json.5.0.4/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.4/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.4/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.4/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.4/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.4/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.4/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
packages/WebActivatorEx.2.0.5/WebActivatorEx.2.0.5.nupkg
packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
packages/WebGrease.1.5.2/tools/install.ps1
packages/WebGrease.1.5.2/tools/uninstall.ps1
packages/jQuery.MaskedInput.1.4.1.0/content/scripts/jquery.maskedinput.js
packages/jQuery.MaskedInput.1.4.1.0/content/scripts/jquery.maskedinput.min.js
packages/jQuery.MaskedInput.1.4.1.0/jQuery.MaskedInput.1.4.1.0.nupkg
packages/jQuery.Validation.1.15.0/Content/Scripts/jquery.validate-vsdoc.js
packages/jQuery.Validation.1.15.0/Content/Scripts/jquery.validate.js
packages/jQuery.Validation.1.15.0/Content/Scripts/jquery.validate.min.js
packages/jQuery.Validation.1.15.0/jQuery.Validation.1.15.0.nupkg
packages/jQuery.Validation.Unobtrusive.2.0.20710.0/jQuery.Validation.Unobtrusive.2.0.20710.0.nupkg
packages/jquery.validate.unobtrusive.bootstrap.1.2.3/content/Scripts/jquery.validate.unobtrusive.bootstrap.js
packages/jquery.validate.unobtrusive.bootstrap.1.2.3/content/Scripts/jquery.validate.unobtrusive.bootstrap.min.js
packages/jquery.validate.unobtrusive.bootstrap.1.2.3/content/Scripts/jquery.validate.unobtrusive.bootstrap.min.js.map
packages/jquery.validate.unobtrusive.bootstrap.1.2.3/jquery.validate.unobtrusive.bootstrap.1.2.3.nupkg
Control.UI/Views/Cadastro/bkp/Clientes.cshtml
Control.UI/Views/Cadastro/bkp/ClientesEdit.cshtml
Control.UI/Views/Cadastro/bkp/ClientesFiltro.cshtml
Control.UI/Views/Cadastro/bkp/Contatos.cshtml
Control.UI/Views/Cadastro/bkp/ContatosEdit.cshtml
Control.UI/Views/Cadastro/bkp/Fornecedores.cshtml
Control.UI/Views/Cadastro/bkp/FornecedoresEdit - Copy.cshtml
Control.UI/Views/Cadastro/bkp/Produtos.cshtml
Control.UI/Views/Cadastro/bkp/ProdutosEdit.cshtml
Control.UI/Views/Cadastro/bkp/Vendedores.cshtml
Control.UI/Views/Cadastro/bkp/VendedoresEdit.cshtml
Control.DAL/Data/DBConexao.cs
