<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Control.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Control.DAL.Properties.Settings>
      <setting name="Control_DAL_br_com_ginfes_homologacao_ServiceGinfesImplService"
        serializeAs="String">
        <value>https://homologacao.ginfes.com.br//ServiceGinfesImpl</value>
      </setting>
      <setting name="Control_DAL_servico_cidades_cidades" serializeAs="String">
        <value>http://academico.engsupport.eti.br/servicos/cidades.asmx</value>
      </setting>
      <setting name="Control_DAL_nfe_homologacao_nfestatusservico2_NfeStatusServico2"
        serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfestatusservico2.asmx</value>
      </setting>
    </Control.DAL.Properties.Settings>
  </applicationSettings>
</configuration>