<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilidades.EnvioEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Utilidades.EnvioEmail.Properties.Settings>
            <setting name="smtpUser" serializeAs="String">
                <value>urielsilva@gtwave.com.br</value>
            </setting>
            <setting name="smtpPass" serializeAs="String">
                <value>Gtwave12</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Destino" serializeAs="String">
                <value>urielbr@gmail.com</value>
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value>mail.gtwave.com.br</value>
            </setting>
        </Utilidades.EnvioEmail.Properties.Settings>
    </applicationSettings>
</configuration>